@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap);body {
  font-family: "Roboto Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
}

.container-product {
  width: 70%;
  margin: auto;
}

.position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top-header {
  background-color: #0082f9;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  text-align: right;
}
header .top-header span {
  margin-left: 20px;
}
header .top-header span i {
  font-size: 12px;
}
header .top-header span .arrow {
  font-size: 16px;
}
header .bottom-header {
  text-transform: uppercase;
  padding: 20px 0;
}
header .bottom-header .position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .bottom-header .position ul {
  display: flex;
  align-items: center;
}
header .bottom-header .position ul li {
  color: #4f504f;
  padding: 0 15px;
  font-size: 18px;
  cursor: pointer;
}
header .bottom-header .position ul li a {
  text-decoration: none;
  color: #4f504f;
}
header .bottom-header .position ul li a.active {
  color: #0082f9;
}
header .bottom-header .position input {
  border: none;
  border-bottom: 2px solid #0082f9;
  text-align: center;
  font-size: 18px;
}
header .bottom-header .position .search {
  margin-left: -20px;
  cursor: pointer;
}
header .jumbotron {
  height: 500px;
  overflow: hidden;
}
header .jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .main-content {
  background-color: #1c1c1c;
  padding: 30px 0;
  text-transform: uppercase;
  color: white;
}
main .main-content .comic-list .section-title {
  font-size: 25px;
  background-color: #0082f9;
  padding: 8px 18px;
  display: inline-block;
}
main .main-content .comic-list .comics {
  padding: 50px 0 30px;
  display: flex;
  flex-wrap: wrap;
}
main .main-content .comic-list .comics .single-comic {
  width: calc(16.6666666667% - 20px);
  margin: 20px 10px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}
main .main-content .comic-list .comics .single-comic a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}
main .main-content .comic-list .comics .single-comic a .comic-thumb {
  height: 250px;
  margin-bottom: 20px;
}
main .main-content .comic-list .comics .single-comic a .comic-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .main-content .comic-list .more {
  text-align: center;
  padding-bottom: 30px;
}
main .main-content .comic-list .more button {
  color: white;
  background-color: #0082f9;
  border: 2px solid #0082f9;
  padding: 10px 70px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
main .main-content .comic-list .more button:hover {
  background-color: white;
  color: #0082f9;
}
main .main-nav {
  background-color: #0082f9;
  padding: 25px 0;
  text-transform: uppercase;
  color: white;
}
main .main-nav .box {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}
main .main-nav .box .nav-img {
  margin-right: 10px;
}
main .main-nav .box .nav-img img {
  width: 60px;
}
main .main-product .top-product {
  background-color: #0082f9;
  padding: 50px 0;
  text-transform: uppercase;
}
main .main-product .top-product .container-product {
  position: relative;
}
main .main-product .top-product .container-product .thumb-position {
  position: absolute;
  top: -270px;
  left: 0;
  border: 1px solid white;
}
main .main-product .top-product .container-product .thumb-position .comic, main .main-product .top-product .container-product .thumb-position .view {
  position: absolute;
  left: 0;
  background-color: #00a8d8;
  color: white;
  padding: 3px 5px;
}
main .main-product .top-product .container-product .thumb-position .comic {
  top: 0;
}
main .main-product .top-product .container-product .thumb-position .view {
  bottom: 0;
  width: 100%;
  text-align: center;
}
main .main-product .middle-product {
  padding: 40px 0;
}
main .main-product .middle-product .product-position {
  display: flex;
  align-items: center;
}
main .main-product .middle-product .product-position .product-info {
  padding-right: 60px;
}
main .main-product .middle-product .product-position .product-info .product-title {
  text-transform: uppercase;
  font-size: 30px;
  color: #1f495f;
  font-weight: 700;
  padding-bottom: 20px;
}
main .main-product .middle-product .product-position .product-info .product-price {
  color: white;
  background-color: #53b957;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4f504f;
  margin-bottom: 20px;
  padding: 15px 20px;
}
main .main-product .middle-product .product-position .product-info .product-price .price {
  flex-grow: 1;
  color: #b7f992;
}
main .main-product .middle-product .product-position .product-info .product-price .price .white {
  color: white;
}
main .main-product .middle-product .product-position .product-info .product-price .available {
  text-transform: uppercase;
  color: #b7f992;
  padding-right: 30px;
  font-weight: 700;
}
main .main-product .middle-product .product-position .product-info .product-price .check {
  padding-right: 20px;
}
main .main-product .middle-product .product-position .product-info .product-description {
  color: #4f504f;
  font-size: 18px;
  line-height: 1.8;
}
main .main-product .middle-product .product-position .advertisement {
  text-transform: uppercase;
  text-align: right;
  color: #4f504f;
  font-weight: 700;
}
main .main-product .middle-product .product-position .advertisement .adv-img {
  width: 400px;
  height: 350px;
}
main .main-product .bottom-product {
  background-color: #f6f6f6;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0 100px;
}
main .main-product .bottom-product .bottom-position {
  display: flex;
}
main .main-product .bottom-product .bottom-position .talent-specs {
  display: flex;
  flex-direction: column;
  width: 50%;
}
main .main-product .bottom-product .bottom-position .talent-specs .bottom-title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #003f5d;
}
main .main-product .bottom-product .bottom-position .talent-specs .bottom-table {
  display: flex;
  margin-right: 30px;
}
main .main-product .bottom-product .bottom-position .talent-specs .bottom-table .left, main .main-product .bottom-product .bottom-position .talent-specs .bottom-table .right {
  width: 100%;
  color: #17506c;
  padding: 15px 0;
  border-top: 1px solid #e7e7e7;
}
main .main-product .bottom-product .bottom-position .talent-specs .bottom-table .bottom-border {
  border-bottom: 1px solid #e7e7e7;
}
main .main-product .bottom-product .bottom-position .talent-specs .bottom-table .series {
  text-transform: uppercase;
}
main .main-product .bottom-product .bottom-position .talent-specs .bottom-table .blue {
  color: #59b3dc;
}
main .nav-product {
  background-color: #f6f6f6;
}
main .nav-product .box {
  display: flex;
  border-left: 1px solid #e7e7e7;
  padding: 30px 0;
}
main .nav-product .box .nav-title {
  color: #a0a4a7;
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 700;
}
main .nav-product .box .nav-img {
  padding-right: 30px;
  width: 80px;
}
main .nav-product .right-border {
  border-right: 1px solid #e7e7e7;
}

footer .top-footer {
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .top-footer .position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .top-footer .position .footer-links {
  display: flex;
}
footer .top-footer .position .footer-links ul {
  list-style-type: none;
  margin: 0 30px;
}
footer .top-footer .position .footer-links ul h2 {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin: 10px 0;
}
footer .top-footer .position .footer-links ul li {
  margin: 15px 0;
}
footer .top-footer .position .footer-links ul li a {
  text-decoration: none;
  color: #7b7879;
}
footer .top-footer .position .footer-links ul li a:hover {
  text-decoration: underline;
}
footer .bottom-footer {
  background-color: #303030;
}
footer .bottom-footer .btn {
  padding: 20px;
}
footer .bottom-footer .btn button {
  background-color: #303030;
  border: 2px solid #0082f9;
  padding: 15px 20px;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
footer .bottom-footer .btn button:hover {
  background-color: #0082f9;
}
footer .bottom-footer .socials {
  display: flex;
  align-items: center;
}
footer .bottom-footer .socials span {
  color: #0082f9;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  margin-right: 20px;
}
footer .bottom-footer .socials img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 10px;
}